body{
    margin: 5% auto;
    width: 70%;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: 'lato', sans-serif;
    color: rgb(87, 87, 87);
}
body .khusus a{
    color: white;
    text-decoration: none;
}
.poo a{
    color: white;
}

body.darkmode .section .heading:before{
    background: white;
}

body.darkmode .khusus a{
    background-color: #fff;
    color: #343a40;
     border-radius: 13px; 
     text-decoration: none; 
     color: inherit; line-height: 1; 
    -webkit-transition: all .25s ease-in-out; transition: all .25s ease-in-out; 

}

@font-face {
        font-family: tulisan;
        src: url(../font/Oxygen-Regular.ttf);
}

body.darkmode {
    background: rgb(57, 57, 57);
    color: rgb(227, 227, 227);
}

body.darkmode a{
    color: rgb(227, 227, 227);
}
body.darkmode a:hover{
    color: #ff5e00;
}

.is-hidden{
    display: none;
}

a{
    color: rgb(87, 87, 87);
}


header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
}

#theme { 
    font-size: 25px;

}

#theme:hover {
    cursor: pointer;
}

.landing{
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.links p{
    margin-top: 0px;
}

.is-avatar{
    border-radius: 50%;
    margin-left: 100px;
}

h3{
    margin-bottom: 5px;
}

.columns{
    display: inline-flex;
}

blockquote {
    border-left: 1px solid gray; padding-left: 5px; font-style: italic;
}


@media only screen and (max-width: 760px) {
    body {
        width: 90%;
    }

    .landing{
        display: block;
        font-size: 0.9rem;
    }

    .columns{
        display: block;
    }
    .list{
        position: relative;
        display: inline-flex;
        left: 100px;
        top: -25px;
    }
    .list a{
        text-decoration: none;
    }

    .search{
        display: none;
    }

    .logo{
        position: relative;
        top: 5px;
    }
    .gkiri{
        margin-bottom: -40px;
        margin-top: -25px;
    }
    .darkm{
        position: relative;
        text-align: left;
        margin-top: -40px;
        top: 35px;
        bottom: 30px;       
    }
    .linkepisode a{
        left: 200px;
    }

    .twitter-timeline{
        display: none;
    }
}
.list{
        position: relative;
        margin-top: 13px;
}
a:hover{
    color: black;
}
.list a{
        text-decoration: none;
        font-weight: bold;
    }
.list a:hover{
    color: black;

}

.p-footer{
    text-align: center;
    color: grey;
    font-size: 15px;
}

.darkm{
    position: relative;
    margin-top: -40px;
    margin-bottom: -20px;


}
.is-headline {
    font-size: 2rem;
    display: inline-block;
    padding: 10px;
    background: darkcyan;
    color: white;
    margin-bottom: 5px;
}
body.darkmode .is-headline{
    font-size: 2rem;
    display: inline-block;
    padding: 10px;
    background: #fff;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
}

.kotak{
    background-color: lightgrey;
    color: #343a40;
    padding-bottom: 10px;
    padding-top: 10px;
}
body.darkmode .kotak a{
    color: #343a40;
}
.episode{
    background-color: rgb(227, 227, 227);
    color: #343a40;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
body.darkmode .episode a{
    color: #343a40;
}



