
<!-- =====================================================================================================
============================== Halooo !!! ngintip aja bro ================================================
==========================================================================================================
!-->
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> NgopiYuk | @ngopiyuk </title>

    
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
   
</head>
<body>
  <header>
    <div>
      <h1>Fan Podcast 🎙</h1>
      <h2>Dengarkan Solusi Setiap Masalah Anda</h2>
    </div>
  </header>

       
        <div class="columns">
            <div id="article">

              <!--div class="logo" ><img class="" style="height: 75px;" src="images/kopi.png"></div-->
              <!--h3 class="is-headline" >@ngopiyuk</h3-->
            <div class="list">
                  <a href="https://ngopiyuk.netlify.com/">Home</a>&ensp;<br>
                  <a href="https://ngopiyuk.netlify.com/podcast/">Podcast</a>🎙&ensp;<br>
                  <a href="https://ngopiyuk.netlify.com/note/">Note</a>✍&ensp;<br>
                   <input type=text v-model=search_q placeholder="Search.." class=search-side>
                        <br>


            </div>
                    
                           
                
           

              </div>&emsp;<hr class="gkiri" >&emsp;
              <div class="tubuh">
                <h1 class="title" > Selamat Mendengarkan!</h1>
                <div class="line" ></div>
      <main id=main>
        <section id=player>

          <iframe height=100 width=100% frameborder=0 scrolling=no></iframe>

            <div v-else>
              <iframe src="https://anchor.fm/fajar-a-nugroho/embed/episodes/Sefruit-Trailer-e9m6je" height="100px" width="95%" frameborder="0" scrolling="no"></iframe>
                          
            </div>
        </section>
              <h1 class=title>Catatan</h1>
              <div class=line></div> 
        <article>
              <p >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p> 
              </article>
        <section>
          <input type=text v-model=search_q placeholder="Cari judul.." class=search>
            <div class=title>Daftar Episode</div>
              <div class=line></div>

                <a href="https://ngopiyuk.netlify.com/podcast/episode/1/" class=boxes>
                  <p>Eps 01 : Makna Secangkir Kopi</p>
                  <div class=arrow-right></div>
                </a>

                <a href="https://ngopiyuk.netlify.com/podcast/episode/1/" class=boxes>
                  <p>Eps 00 : Sefruit Trailer</p>
                  <div class=arrow-right></div>
                </a>

                </section>
                </main>
                <script src=https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js>
                  
                </script>
                <script>(async()=>{const res=await fetch('/index.json');const itemsRaw=await res.json();const items=itemsRaw.data
new Vue({delimiters:['${','}'],el:'#main',data:{items:items,currentItem:"",search_q:"",loading:true,},methods:{play:function(item){this.currentItem=item}},computed:{filteredItems:function(){let itemWithFilter=this.items.filter((item)=>{return item.title.toLowerCase().includes(this.search_q.toLowerCase())})
return itemWithFilter}}})})();</script>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://ngopiyuk.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


             
          </div>
          
        </div>

        <br>
   

          <script id="dsq-count-scr" src="//ngopiyuk.disqus.com/count.js" async></script>
          <footer>
            @fajar.agungn
        </footer>
</body>
</html>
